@font-face{
    font-family: myFont;
    src: url(Garet-Book.ttf);
}
*{
    font-family: myFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    align-items: center;
    background-color: #ffb6d9;
    color: white;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    z-index: 1000;
    position: sticky;
    top: 0px; 
    width: 100%;

}

.nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.nav .LogIn{
    margin-left: auto;
    margin-right: 15px;
}

.nav .MissSkin{
    margin-left: 30%;
}
.img_mainbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.img_mainbox .imgbox{
    width: 20%;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.imgbox a img{
    width: 100%;
    height: 100%;
}
.imgbox:hover{
   transform: scale(1.2);
   transition: transform 0.3s ease;
}
.imgbox label{
    margin-left: 95px;
    font-size: 20px;
    font-weight: bold;
    color: #d94496;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    margin: 80px;
    width: 100%;
    height: 300px;
    color: #d94496;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.blog_mainbox{
    display: flex;
    flex-wrap: wrap;
}
.leftbox img{
    margin: 30px;
    width: 700px;
    height: 350px;
}

.blogtext{
    width: 500px;
    height: 200px;
    display: block;
    position: relative;
    transform: translate(-200px,90px);
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 5px;
    padding: 10px;
    
}

 .blogtext:hover{
    transform: scale(1.2);
    transition: transform 0.6s ease;
    
}

.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffb6d9;
    color: white;
    height: 350px;
    margin-right: 0px;
    padding-top: 10px;
    width: 100%;
}
.minifooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 22.1%;
    padding: 2px;
}
.minifooter p{
    margin-bottom: 3px;
}

 .minifooter #footerTitle{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.minifooter a img{
    width: 30px;
    height: 30px;
    
}
.minifooter #icon{
    text-align: center;
}

.registerbox{
    width: 90%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  
   
    
}
.img img{
    width: 100%;
    box-sizing: border-box;
    
}
.w-50{
    width: 50%;
    box-sizing: border-box;
}
.input h1{
    text-align: center;
    margin-top: unset;
    margin-bottom: 20px;
}
.input{
    margin: 40px;
    margin-left: 120px;
    box-sizing: border-box;
 
    
}
.input input{
    width: 100%;
    font-size: 16px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ffb6d9;
    text-align: center;
    margin-bottom: 20px;
   
}
.register_button{
    background-color: #d94496;
    color: white;
    
}

