@font-face{
    font-family: myFont;
    src: url(Garet-Book.ttf);
}
*{
    font-family: myFont;
   
    
}
body{
    margin: 0;
    padding: 0;
   
}
.nav{
    display: flex;
    align-items: center;
    background-color: #ffb6d9;
    color: white;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    z-index: 1000;
    position: sticky;
    top: 0px; 
    width: 100%;

}
.nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.nav .LogIn{
    margin-left: auto;
    margin-right: 15px;
}

.nav .MissSkin{
    margin-left: 30%;
}
.img_mainbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px;
}
.img_mainbox .imgbox{
    width: 20%;
    height: 300px;
}
.imgbox a img{
    width: 100%;
    height: 100%;
}
.imgbox:hover{
   transform: scale(1.2);
   transition: transform 0.3s ease;
}
.imgbox label{
    margin-left: 110px;
    font-size: 20px;
    font-weight: bold;
    color: #d94496;
}
.quote{
    display: flex;
    flex-wrap: wrap;
    margin: 80px;
    width: 100%;
    height: 300px;
    color: #d94496;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}