@font-face{
    font-family: myFont;
    src: url(Garet-Book.ttf);
}
*{
    font-family: myFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    align-items: center;
    background-color: #ffb6d9;
    color: white;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    z-index: 1000;
    position: sticky;
    top: 0px; 
    width: 100%;

}

.nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.nav .LogIn{
    margin-left: auto;
    margin-right: 15px;
}

.nav .MissSkin{
    margin-left: 30%;
}
.faqja{
    width: 90%;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  
  }
  .img img{
    width: 100%;
    box-sizing: border-box;
    
}
  
.w-40{
  width: 40%;
  box-sizing: border-box;
}
.input h1{
  text-align: center;
  margin-top: unset;
  margin-bottom: 20px;
}
.input{
  margin: 40px;
  margin-left: 120px;
  box-sizing: border-box;

  
}
.input input{
  width: 100%;
  font-size: 16px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ffb6d9;
  text-align: center;
  margin-bottom: 20px;
 
}
.signup_link {
    text-align: center;
    
}
.signup_link a{
    color: #d94496;
}
.login_button{
  background-color: #d94496;
  color: white;
  
}

.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffb6d9;
    color: white;
    height: 350px;
    margin-right: 0px;
    padding-top: 10px;
    width: 100%;
}
.minifooter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    width: 22.1%;
    padding: 2px;
}
.minifooter p{
    margin-bottom: 3px;
}

 .minifooter #footerTitle{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.minifooter a img{
    width: 30px;
    height: 30px;
    
}
.minifooter #icon{
    text-align: center;
    margin-left: 400px;
}
 